.NavbarRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.Icon {
  width: var(--Navbar-icons-div-height);
  height: var(--Navbar-icons-div-height);
  border-radius: 100%;
  background: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--Navbar-icons-height);
  color: var(--color-lighter);
  margin-right: 10px;
}

.Icon:hover {
  cursor: pointer;
  background: var(--color-dark-less);
}

.Messenger {
  font-size: 19px;
}

.NavbarRightImg {
  width: var(--Navbar-logo-height);
  height: var(--Navbar-logo-height);
  border-radius: 100%;
  margin-right: 25px;
}

.NavbarRightImg:hover {
  cursor: pointer;
}
