.PostFooterWrap {
  padding: 0 15px;
}

.userPicture {
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}

.viewMoreComments {
  font-size: 15px;
  margin: 10px 0;
}
.viewMoreComments:hover {
  cursor: pointer;
  text-decoration: underline;
}
