.MainContent {
  margin-top: var(--Navbar-height);
  padding: 0px;
  width: 650px;
}

.Container {
  /* padding-left: 13%; */
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
