.Comment {
  display: flex;
  margin: 10px;
  margin-right: 5px;
  gap: 5px;
}

.userPicture {
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  width: 32px;
  height: 32px;
}

.CommentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 100%;
}
.CommentBtn:hover {
  cursor: pointer;
  background: var(--color-dark);
}

.CommentText {
  position: relative;
  min-width: 200px;
  font-weight: 400;
  color: var(--color-lighter);
  background: var(--color-dark);
  padding: 5px 10px 8px 10px;
  border-radius: 10px;
}

.CommentInteractions {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}
.CommentInteractions div {
  font-size: 12px;
  cursor: pointer;
}

.dropBtn {
  padding: 7px;
  color: var(--color-lighter);
  border-radius: 5px;
}

.dropBtn:hover {
  cursor: pointer;
  background: var(--color-dark);
}

.cancelBtn {
  font-size: 10px;
  color: var(--color-primary-text);
  padding-left: 10px;
}
.cancelBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.likeComment:hover {
  cursor: pointer;
  text-decoration: underline;
}

.likeCommentIcon {
  position: absolute;
  bottom: -12px;
  right: 7px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
