.PostButton {
  font-size: 20px;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.PostButton span {
  margin-left: 5px;
  font-size: 16px;
}

.PostButton:hover {
  cursor: pointer;
  background: var(--color-dark);
}
