.Post {
  background: var(--color-darker);
  color: var(--color-light);
  font-size: 15px;
  font-weight: 500;
  min-height: 50px;
  flex: 1 1 auto;
  border-radius: 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 0px 5px 0;
}

.PostImage {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.InteractionStat {
  text-align: right;
  margin: 0 15px 10px 15px;
}

.PostBody {
  margin: 15px 15px;
  color: var(--color-light);
}

.InteractionStat span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.PostImage:hover {
  cursor: pointer;
}

.btnUndo {
  background: var(--color-dark);
  border: none;
  font-weight: 500;
}

.btnUndo:hover {
  background: var(--color-dark-less);
}
