.ProfileHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-darker);
}

.Wrapper {
  z-index: 10;
}

.cover {
  position: relative;
  max-width: 1000px;
  padding-top: 35px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  top: -400px;
  height: 650px;
  background-size: cover;
  background-position: top;
  filter: blur(150px);
  opacity: 70%;
  z-index: 0;
}

.btnCover {
  position: absolute;
  text-align: center;
  bottom: 15px;
  background: white;
  color: black;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.btnCover:hover {
  cursor: pointer;
  background: rgb(241, 241, 241);
}

.titlePhotoWrap {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--color-dark);
}

.shadow {
  width: 1000px;
  height: 57px;
  background: black;
  position: absolute;
  opacity: 40%;
  top: 355px;
  left: 180px;
  filter: blur(17px);
  z-index: 0;
}

.photoWrap {
  position: relative;
  z-index: 6;
}
.photo {
  width: 170px;
  height: 170px;
  border: 4px solid rgb(28, 28, 28);
  border-radius: 100%;
  overflow: hidden;
}
.photo:hover {
  cursor: pointer;
  filter: brightness(110%);
}

.titles {
  color: var(--color-lighter);
  display: flex;
  flex-direction: column;
}
.titles h2 {
  color: white;
}

.titles h5 {
  color: var(--color-light);
  margin-top: 0;
}

.friendsPicWrap {
  display: flex;
  flex-direction: row-reverse;
}
.friendsPic {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 2px solid rgb(28, 28, 28);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.friendsPic:hover {
  cursor: pointer;
  opacity: 90%;
}

.editBtn {
  font-weight: 600;
  width: 130px;
  background: var(--color-dark);
  border: none;
}

.editBtn:hover {
  background: var(--color-dark-less);
}

.uploadPhotoBtn {
  position: absolute;
  font-size: 21px;
  top: 127px;
  left: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 8px 9px 8px;
  background: var(--color-dark);
  border-radius: 100%;
  color: var(--color-lighter);
  z-index: 3;
}

.uploadPhotoBtn:hover {
  background: var(--color-dark-less);
  cursor: pointer;
}

.Menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.MenuBtn {
  padding: 11px 15px 12px 15px;
  border-radius: 5px;
  color: var(--color-light);
  font-weight: 600;
}

.MenuBtn:hover {
  cursor: pointer;
  background: var(--color-dark);
}

.MenuBtnActive {
  color: var(--color-primary-text) !important;
}

.MenuBtnActive:hover {
  background: var(--color-darker) !important;
}

.MenuBtnWrap {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-primary-text);
}

.MoreBtn {
  padding: 3px 13px 7px 13px;
  border-radius: 5px;
  background: var(--color-dark);
  color: var(--color-light);
  flex: 0 0 auto;
}

.MoreBtn:hover {
  background: var(--color-dark-less);
  cursor: pointer;
}
