.NavbarLeft {
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
}

.NavbarLeft img {
  height: var(--Navbar-logo-height);
  margin-left: 15px;
}

.NavbarLeft img:hover {
  cursor: pointer;
}

.Search {
  display: flex;
  background-color: var(--color-dark);
  border-radius: 20px;
  border: none;
  margin-left: 7px;
  height: calc(var(--Navbar-height) - 18px);
}

.Search input {
  background-color: transparent;
  border: none;
  height: 100%;
  border-radius: 0 17px 17px 0;
  color: var(--color-light);
  font-size: 15px;
  box-shadow: none;
}
.SearchIcon {
  margin: 0 10px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-light);
}

.MenuIconWrap,
.MenuIconWrapActive {
  height: var(--Navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 3px;
  margin-left: 10px;
}

.MenuIconWrapActive {
  border-bottom: 3px solid var(--color-primary);
}

.MenuIcon,
.MenuIconActive {
  padding: 0 5px;
  border-radius: 5px;
}
.MenuIcon img,
.MenuIconActive img {
  margin: 0 !important;
}
.MenuIcon:hover {
  background: var(--color-dark);
}
